In [4]:
run_hive(
    """
    select cohort, (sum(if(2nd_month_edits >= 1, 1, 0)) / sum(if(1st_month_edits >= 1, 1, 0))) as retention_rate, count(*) as total_new
    from neilpquinn.new_editors
    group by cohort
    """
)

     cohort  retention_rate  total_new
0   2015-01        0.060257     123555
1   2015-02        0.053000     123038
2   2015-03        0.054421     130353
3   2015-04        0.053975     109273
4   2015-05        0.049421     110642
5   2015-06        0.053698     104491
6   2015-07        0.056306      95070
7   2015-08        0.065431      94634
8   2015-09        0.065665     101074
9   2015-10        0.059487     104745
10  2015-11        0.049590     104557
11  2015-12        0.052898      95466
12  2016-01        0.062739     112370
13  2016-02        0.060788     109988
14  2016-03        0.060344     113631
15  2016-04        0.053592     108338
16  2016-05        0.048028     107125
17  2016-06        0.047188      98160
18  2016-07        0.052583      88204
19  2016-08        0.062102      91833
20  2016-09        0.065659     105042
21  2016-10        0.070943     105521
22  2016-11        0.051107     106248
23  2016-12        0.053877      98001
24  2017-01        0.071225     116378
25  2017-02        0.060150     111720
26  2017-03        0.060047     123703
27  2017-04        0.054200     109317
28  2017-05        0.049983     114498
29  2017-06        0.050048     105080
30  2017-07        0.053855      95052
31  2017-08        0.058634      94792
32  2017-09        0.068493     101719
33  2017-10        0.074198     110353

In [ ]:
query_db(
    """
    select
        wiki,
        (sum(if(2nd_month_edits >= 1, 1, 0)) / count(*)) as retention_rate
    from neilpquinn.new_editors
    where
    1st_month_edits >= 1 and
    cohort >= "2016-08" and
    cohort < "2017-08" and
    wiki in (
        "enwiki", "commonswiki", "wikidatawiki", "dewiki",
        "frwiki", "jawiki", "eswiki", "ruwiki",
        "itwiki", "zhwiki", "ptwiki", "plwiki"
    )
    group by wiki
    """,
    db = "hadoop"
)

In [ ]:
query_db(
    """
    select
        wiki,
        (sum(if(2nd_month_edits >= 1, 1, 0)) / count(*)) as retention_rate
    from neilpquinn.new_editors
    where 
    cohort >= "2016-08" and
    cohort < "2017-08" and
    wiki = "cswiki"
    group by wiki
    """,
    db = "hadoop"
)

In [ ]:
# Global, long-term average
query_db(
    """
    select
        (sum(if(2nd_month_edits >= 1, 1, 0)) / count(*)) as retention_rate
    from neilpquinn.new_editors
    where 
    cohort >= "2016-08" and
    cohort < "2017-08"
    """,
    db = "hadoop"
)

In [ ]:
query_db(
    """
    select
        wiki,
        (sum(if(2nd_month_edits >= 25, 1, 0)) / count(*)) as retention_rate
    from neilpquinn.new_editors
    where
    1st_month_edits >= 25 and
    cohort >= "2016-08" and
    cohort < "2017-08" and
    wiki in (
        "enwiki", "commonswiki", "wikidatawiki", "dewiki",
        "frwiki", "jawiki", "eswiki", "ruwiki",
        "itwiki", "zhwiki", "ptwiki", "plwiki"
    )
    group by wiki
    order by retention_rate desc
    limit 100
    """,
    db = "hadoop"
)