# Project breakdown

In [7]:
yearly_new = run_mariadb(
"""
select
    extract(year from month) as year,
    avg(new_active_editors)
from (
    select 
    month, 
    sum(extract(year_month from reg) = extract(year_month from month)) as new_active_editors
    from (
    select month, user_name, sum(content_edits) as content_edits, 
    min(user_registration) as reg, max(bot_flag) as bot_flag
    from staging.editor_month
    where local_user_id != 0
    group by month, user_name
    ) global_edits
    where
    month >= "2013-01-01" and
    content_edits >= 5 and 
    bot_flag = 0 and
    convert(user_name using utf8) not regexp "bot\\b" and
    convert(user_name using utf8) not regexp "[ _]bot[ _]"
    group by month;
) monthly_new
group by extract(year from month)
"""
)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

DatabaseError: Execution failed on sql '
select
    extract(year from month) as year,
    avg(new_active_editors)
from (
    select
    month,
    sum(extract(year_month from reg) = extract(year_month from month)) as new_active_editors
    from (
    select month, user_name, sum(content_edits) as content_edits,
    min(user_registration) as reg, max(bot_flag) as bot_flag
    from staging.editor_month
    where local_user_id != 0
    group by month, user_name
    ) global_edits
    where
    month >= "2013-01-01" and
    content_edits >= 5 and
    bot_flag = 0 and
    convert(user_name using utf8) not regexp "bot\b" and
    convert(user_name using utf8) not regexp "[ _]bot[ _]"
    group by month;
) monthly_new
group by extract(year from month)
': (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ';\n) monthly_new\ngroup by extract(year from month)' at line 21")

In [4]:
run_mariadb(
"""
select extract(year from month)
from staging.editor_month
limit 20
"""
)

    extract(year from month)
0                       2004
1                       2004
2                       2004
3                       2004
4                       2004
5                       2004
6                       2004
7                       2004
8                       2005
9                       2005
10                      2005
11                      2005
12                      2005
13                      2005
14                      2005
15                      2005
16                      2005
17                      2005
18                      2006
19                      2006

# Seasonal analysis